<header>

    <a (click)="this.onNavBarClicked()" class="logo">
        <i class='bx bxs-movie'></i>PrusciPlus
    </a>
    <div class="bx bx-menu" id="menu-icon"></div>

    <!-- menu  -->
     <div *ngIf="this.isAuthentificated()">
        <ul class="navbar">
            <li><a href="/home" class="home-active">Inicio</a></li>
            <li><a href="/home#movies">Peliculas</a></li>
            <li><a href="/home#coming">Estrenos</a></li>
            <li><a href="/home#newsletter">Mail</a></li>
        </ul>
     </div>
     <div *ngIf="this.isAuthentificated()">
        <a [routerLink]="['/']"  routerLinkActive="active" ariaCurrentWhenActive="page" class="btn">Cambiar Cuenta</a>
    </div>
        <img src="../assets/profile-pic.png" style="width: 45px;height:45px; border-radius: 10px;" alt="Profile Logo" class="profile-logo">
        <div class="user-info">
            
            <i class="user-icon"></i>
            <span [ngStyle]="{'color': getIsAdmin() ? 'gold' : 'white'}">{{this.getUserName()}}</span>
            <span >lvl: {{this.getUserLevel()}}</span>
        </div>

</header>

      <router-outlet></router-outlet>