<div class="carousel">
    <div class="carousel-images">
        <img *ngFor="let photo of fotosUrl; let i = index" [src]="photo" [class.active]="i === currentIndex">
    </div>
    <button (click)="prevSlide()">❮</button>
    <button (click)="nextSlide()">❯</button>
</div>

   
    <!-- Movies  -->
    <div class="movies" id="movies">
        <h2 class="heading">Peliculas Recomendadas</h2>

        <div  id = "barcont" class="input-group mb-3">
            <input id = "searchBar" class="form-control" type="text" placeholder="Search..." [(ngModel)]="input" (ngModelChange)="onChange()">            
            <div *ngIf="this.getIsAdmin()">
                <li><a [routerLink]="['/addfilm']" style="font-size: 20px;"  routerLinkActive="active" ariaCurrentWhenActive="page" class="router-btn">+</a></li>
            </div>
        </div>
        <div class="movies-container">
            <div *ngFor="let film of this.films">
                <app-film-component [film]="film" ></app-film-component>
            </div>
        </div>
        <div class="pagination">
            <button (click)="onPageChange(this.currentPage - 1)" [disabled]="this.currentPage === 1">Previous</button>
            <span style="color: white;">Page {{ this.currentPage }}</span>
            <button (click)="onPageChange(this.currentPage + 1)">Next</button>
          </div>
    </div>

    <!-- coming  -->
    <section class="coming" id="coming">
        <h2 class="heading">Proximamente</h2>
        <!-- coming contanier  -->
        <div class="coming-container swiper">
            <div class="swiper-wrapper">
                <!-- box-1  -->
                <div class="swiper-slide box">
                    <div class="box-img">
                        <img src="../assets/c1.jpg" alt="">
                    </div>
                    <h3>Ant-Man and the Wasp:Quantumania</h3>
                </div>
                <!-- box-2  -->
                <div class="swiper-slide box">
                    <div class="box-img">
                        <img src="../assets/c2.jpg" alt="">
                    </div>
                    <h3>The Flash</h3>
                </div>
                <!-- box-3  -->
                <div class="swiper-slide box">
                    <div class="box-img">
                        <img src="../assets/c3.jpg" alt="">
                    </div>
                    <h3>Guardians of the Galaxy Vol.3</h3>
                </div>
                <!-- box-4  -->
                <div class="swiper-slide box">
                    <div class="box-img">
                        <img src="../assets/c4.jpg" alt="">
                    </div>
                    <h3>Shazam! Fury of the Gods</h3>
                </div>
                <!-- box-5  -->
                <div class="swiper-slide box">
                    <div class="box-img">
                        <img src="../assets/c5.jpg" alt="">
                    </div>
                    <h3>Aquaman and the Lost Kingdom</h3>
                </div>
                <!-- box-6  -->
                <div class="swiper-slide box">
                    <div class="box-img">
                        <img src="../assets/c6.jpg" alt="">
                    </div>
                    <h3>John Wick:Chapter 4</h3>
                </div>
                <!-- box-7 -->
                <div class="swiper-slide box">
                    <div class="box-img">
                        <img src="../assets/c7.jpg" alt="">
                    </div>
                    <h3>Transformer rise of the beasts</h3>
                </div>
                <!-- box-8  -->
                <div class="swiper-slide box">
                    <div class="box-img">
                        <img src="../assets/c8.jpg" alt="">
                    </div>
                    <h3>Mission: Impossible 7</h3>
                </div>
                <!-- box-9  -->
                <div class="swiper-slide box">
                    <div class="box-img">
                        <img src="../assets/c9.png" alt="">
                    </div>
                    <h3>Deadpool 3</h3>
                </div>
                <!-- box-10  -->
                <div class="swiper-slide box">
                    <div class="box-img">
                        <img src="../assets/c10.jpg" alt="">
                    </div>
                    <h3>Dune: Part two</h3>
                </div>
            </div>
        </div>
    </section>

    <!-- Newsletter /\ -->
    <section class="newsletter" id="newsletter">
        <h2>Suscribite para  <br>Novedades</h2>
        <form action="">
            <input type="email" class="email" placeholder="Enter Email" required>
            <input type="submit" value="Subscribe" class="btn">
        </form>
    </section>

    <!-- footer  -->
    <section class="footer">
        <a href="" class="logo">
            <i class="bx bxs-movie"></i>PrusciPlus
        </a>
        <div class="social">
            <a href=""><i class='bx bxl-facebook'></i></a>
            <a href=""><i class='bx bxl-twitter'></i></a>
            <a href=""><i class='bx bxl-instagram'></i></a>
        </div>
    </section>
    <router-outlet></router-outlet>
