<section>
 <!-- <audio #audioPlayer class="audio" src="../../assets/music/ErrorMusic.mp3" autoplay></audio> -->
<audio class="audio" src="../../assets/music/ErrorMusic.mp3" autoplay>  
  <source src="../../assets/music/ErrorMusic.mp3" />

</audio>
  <div class="error-page">
    <div class="error-page__content">
      <h1 class="error-page__title">404</h1>
      <p class="error-page__description">Page not found</p>
      <a [routerLink]="['/']" class="error-page__button">Go to home</a>
    </div>
  </div>
</section>
